.header-unsub {
    p,
    a {
        font-size: 10px;
        padding-top: 10px !important;
        color: #eee;
    }
    #unsubscribe {
        float: right;
        padding-top: 10px !important;
        color: #eee;
    }
}

.header-row {}

.grey-spacer {
    background: #eee;
}

.nav-row {
    .nav-col {
        padding-top: 16px !important;
        a {
            text-transform: uppercase;
            text-decoration: none;
            color: black;
        }
    }
}

.hero-row {
    background: url('https://images.unsplash.com/photo-1478515463067-d20f52aace26?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=899a8459cffc394ab9d49544618503ff&auto=format&fit=crop&w=968&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    .hero-box {
        background: rgba(238, 238, 238, 0.6);
        padding-top: 16px !important;
        h1,
        p {
            text-align: center;
        }
    }
}

.featured-furniture-row {
    .left-col {
        figure {
            img {
                padding: 20px 30px !important;
                background: #eee;
                margin-left: -30px;
            }
            figcaption {
                margin-top: 20px;
                font-size: 12px;
                text-align: center;
            }
        }
    }
    .right-col {
        figure {
            img {
                padding: 20px 30px !important;
                background: #eee;
                margin-left: -30px !important;
            }
            figcaption {
                margin-top: 20px;
                font-size: 12px;
                text-align: center;
            }
        }
    }
}

.featured-furniture-row-two {
    .col-1,
    .col-2,
    .col-3 {
        figure {
            img {
                padding: 20px 30px !important;
                background: #eee;
                margin-left: -29.5px !important;
            }
            figcaption {
                margin-top: 20px;
                font-size: 12px;
                text-align: center;
            }
        }
    }
    .col-3 {
        figure {
            img {
                //margin-right: 30px !important;
            }
        }
    }
}

.footer-row {
    .col-1,
    .col-2,
    .col-3 {
        padding-top: 20px !important;
        p {
            font-size: 10px;
            text-align: center;
        }
    }
}