@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');
.header-unsub {
  p,
  a {
    font-size: 10px;
    padding-top: 10px !important;
    color: darken(#eee, 20%);
  }
  #unsubscribe {
    float: right;
    padding-top: 10px !important;
    color: darken(#eee, 20%);
  }
}

.header-row {
  img {
    margin-top: -16px !important;
  }
}

.grey-spacer {
  background: #eee;
}

.nav-row {
  .nav-col {
    padding-top: 16px !important;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      letter-spacing: 1px;
      hyphens: none;
    }
  }
}

.hero-row {
  background: url('https://image.ibb.co/iLiqry/furniture_topbanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  .hero-col {
    padding-left: 100px !important;
    padding-right: 100px !important;
    .hero-box {
      background: rgba(238, 238, 238, 0.6);
      margin-top: 101px;
      h1,
      p {
        text-align: center;
        padding-top: 32px;
      }
      h1 {
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 1px;
      }
      p {
        font-family: 'Lora', 'Times New Roman', serif;
        font-style: italic;
        padding-top: 5px;
      }
    }
  }
}

.featured-furniture-row {
  .left-col {
    p {
      margin-top: 20px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  .right-col {
    img {
      background: #eee;
      padding: 15.5px 0 !important;
    }
    p {
      margin-top: 20px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}

.featured-furniture-row-two {
  .col-1,
  .col-2,
  .col-3 {
    p {
      margin-top: 20px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}

.footer-row {
  .col-1,
  .col-2,
  .col-3 {
    padding-top: 20px !important;
    p {
      font-size: 10px;
      text-align: center;
      color: darken(#eee, 20%);
    }
    img {
      display: inline-block;
    }
  }
}
